/* Global settings */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scroll bars if not needed */
}

/* Container setup */
.page {
    display: flex;
    height: 100vh;
    width: 100vw; /* Ensure the container covers the full viewport width */
    justify-content: center;
    align-items: center;
    background: url('./HyperspaceBG2.png') no-repeat center center fixed; /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire page */
}

/* Login box styling */
.login-box {
    width: 540px; /* Adjust width to better match Epic's style */
    height: 100vh; /* Make the box stretch from top to bottom */
    background-color: #efeeee; /* Semi-transparent or solid color to make text visible */
    padding: 40px; /* Uniform padding */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soften shadow for subtlety */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    border: none; /* Ensure no borders */
    border-radius: 0; /* Remove rounded corners */
    padding-top: 80px; /* Add padding to push content down slightly */
    background:linear-gradient(to bottom, rgb(116, 116, 116));
}

/* Image style */
.sign-in-logo {
    width: 75%; /* You may adjust this to scale the logo appropriately */
    margin-bottom: 40px; /* Adjust bottom margin to tweak space above the button */
    margin-top: 110px; /* Remove top margin */
}

/* Button styling */
.btn {
    width: 80%; /* Full width button */
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e6355f; /* Epic's button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Space between logo and button */
}

.btn:hover {
    background-color: #cc2a4e; /* Darker shade on hover */
}
